# Spark Map & Reduce (CS246)

### Setup

Let's setup Spark on your Colab environment.  Run the cell below!

Now we authenticate a Google Drive client to download the file we will be processing in our Spark job.

**Make sure to follow the interactive instructions.**

If you executed the cells above, you should be able to see the file *pg100.txt* under the "Files" tab on the left panel.

### Your task

If you run successfully the setup stage, you are ready to work on the *pg100.txt* file which contains a copy of the complete works of Shakespeare.

Write a Spark application which outputs the number of words that start with each letter. This means that for every letter we want to count the total number of (non-unique) words that start with a specific letter. In your implementation **ignore the letter case**, i.e., consider all words as lower case. Also, you can ignore all the words **starting** with a non-alphabetic character.

In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext
import numpy as np
import pandas as pd

# create the Spark Session
spark = SparkSession.builder.getOrCreate()

# create the Spark Context
sc = spark.sparkContext
spark

In [2]:
from operator import add
reader = sc.textFile("./dataset/pg100.txt")
count = reader.flatMap(lambda x: x.split()).map(lambda x: x.lower()).map(lambda x: (x[0], 1)).reduceByKey(add).collect()

In [3]:
count

[('p', 27759),
 ('g', 20782),
 ('c', 34567),
 ('s', 65705),
 ('b', 45455),
 ('i', 62167),
 ('r', 14265),
 ('y', 25855),
 ('l', 29569),
 ('*', 24),
 ('d', 29713),
 ('1', 458),
 ('[', 2073),
 ('#', 3),
 ('j', 3339),
 ('h', 60563),
 ('.', 52),
 ('"', 356),
 ('9', 28),
 ('4', 46),
 ('_', 1),
 ('8', 15),
 ('?', 2),
 ('}', 2),
 ('$', 1),
 ('0', 6),
 ('t', 123602),
 ('e', 18697),
 ('o', 43494),
 ('w', 59597),
 ('f', 36814),
 ('u', 9170),
 ('a', 84836),
 ('n', 26759),
 ('m', 55676),
 ('2', 95),
 ('<', 248),
 ('v', 5728),
 ('(', 639),
 ('k', 9418),
 ('3', 59),
 ('/', 2),
 ("'", 3804),
 ('5', 35),
 ('q', 2377),
 ('6', 22),
 ('7', 17),
 ('z', 71),
 ('-', 52),
 (']', 7),
 ('x', 14),
 ('&', 21),
 (':', 1)]

Once you obtained the desired results, **head over to Gradescope and submit your solution for this Colab**!